<div class="product">
    <div class="productDisplay" ng-show="!$ctrl.editing" layout="row" layout-align="start center">
        <span flex>{{$ctrl.product.name}}</span>
        <span class="quantityAvailable" flex>{{$ctrl.product.quantityAvailable}}</span>
        <span flex>{{$ctrl.product.unit}}</span>
        <span flex>${{$ctrl.product.price}}</span>
        <div flex>
            <md-switch ng-model="$ctrl.product.available">Available</md-switch>
        </div>
        <div flex="nogrow" layout="row">
            <md-button width="24px" height="24px" ng-click="$ctrl.startEditing()" class="md-primary md-hue-3 md-icon-button">
                <md-icon md-svg-src="editor:ic_mode_edit_24px" aria-label="Edit Product"></md-icon>
            </md-button>
            <md-button width="24px" height="24px" ng-click="$ctrl.deleteProduct()" class="md-icon-button">
                <md-icon md-svg-src="action:ic_delete_24px" aria-label="Delete Product"></md-icon>
            </md-button>
        </div>
    </div>
    <form name="$ctrl.productForm" ng-show="$ctrl.editing" layout="column" layout-align="start stretch">
        <div layout="row">
            <md-input-container flex>
                <label>Name</label>
                <input ng-model="$ctrl.product.name" ng-model-options="{ updateOn: 'blur' }" required md-maxlength="45" aria-label="Name"></input>
            </md-input-container>
            <md-switch ng-model="$ctrl.product.available">Available</md-switch>
            <md-switch ng-model="$ctrl.product.allowFloatValues">Allow float values</md-switch>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Quantity</label>
                <input ng-model="$ctrl.product.quantityAvailable" aria-label="Quantity" required></input>
            </md-input-container> 
            <md-input-container flex>
                <label>Unit</label>
                <input ng-model="$ctrl.product.unit" aria-label="Unit" required></input>
            </md-input-container>
            <md-input-container flex>
                <label>Price</label>
                <input ng-model="$ctrl.product.price" aria-label="Price" required></input>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="$ctrl.product.description" md-maxlength="255" aria-label="Description"></textarea>
        </md-input-container>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="$ctrl.save()" ng-disabled="!$ctrl.productForm.$valid">Save</md-button>
        </div>
    </form>
</div>