<!--
  Signup Template

  Parent Component: Main
  Component: Signup
 -->

<md-content md-whiteframe="2">
    <fe-card-header>{{ $ctrl.formTitle }}</fe-card-header>
    <md-divider></md-divider>
    <form name="$ctrl.signupForm" layout-padding novalidate>
        <account-signup ng-if="$ctrl.signupLocation == 0" signup-refresh="$ctrl.signupRefresh()" signup-form="$ctrl.signupForm" signup-validators="$ctrl.signupValidators" signup-credentials="$ctrl.signupCredentials" signup-forward="$ctrl.forwardSignupLocation()"></account-signup>
        <type-signup ng-if="$ctrl.signupLocation == 1" signup-refresh="$ctrl.signupRefresh()" signup-credentials="$ctrl.signupCredentials" signup-forward="$ctrl.forwardSignupLocation()" signup-backward="$ctrl.backwardSignupLocation()"></type-signup>
        <name-signup ng-if="$ctrl.signupLocation == 2" signup-refresh="$ctrl.signupRefresh()" signup-form="$ctrl.signupForm" signup-validators="$ctrl.signupValidators" signup-credentials="$ctrl.signupCredentials" signup-forward="$ctrl.forwardSignupLocation()" signup-backward="$ctrl.backwardSignupLocation()"></name-signup>
        <address-signup ng-if="$ctrl.signupLocation == 3" signup-refresh="$ctrl.signupRefresh()" signup-form="$ctrl.signupForm" signup-validators="$ctrl.signupValidators" signup-credentials="$ctrl.signupCredentials" signup-forward="$ctrl.forwardSignupLocation()" signup-backward="$ctrl.backwardSignupLocation()"></address-signup>
        <phone-signup ng-if="$ctrl.signupLocation == 4" signup-refresh="$ctrl.signupRefresh()" signup-form="$ctrl.signupForm" signup-validators="$ctrl.signupValidators" signup-credentials="$ctrl.signupCredentials" signup-forward="$ctrl.forwardSignupLocation()" signup-backward="$ctrl.backwardSignupLocation()"></phone-signup>
        <review-signup ng-if="$ctrl.signupLocation == 5" signup-refresh="$ctrl.signupRefresh()" signup-form="$ctrl.signupForm" signup-credentials="$ctrl.signupCredentials" signup-backward="$ctrl.backwardSignupLocation()" submit="$ctrl.submit()"></review-signup>
    </form>
</md-content>