<!--
  Landing Template

  Parent Component: Main
  Component: Landing
 -->
<div flex="90" flex-offset="5" flex-gt-md="80" flex-offset-gt-md="10" layout-padding>
    <div id="divLanding" flex layout="column" layout-align="center center" layout-padding>
        <span flex></span>
        <img id="landingImage" flex ng-src="img/Earth.png">
        <md-button id="btnGetStarted" flex ui-sref="signup" class="md-accent md-raised hpad-15" aria-label="Get Started">
            <h2>GET STARTED</h2>
        </md-button>
    </div>
</div>
