<!--
  Landing Template

  Parent Component: Main
  Component: Landing
 -->
<div flex="90" flex-offset="5" flex-gt-md="80" flex-offset-gt-md="10" layout-padding>
    <div flex layout="column" layout-align="center center" layout-padding>
        <span flex></span>
        <img flex ng-src="img/cropolis_white_green.png" height="600px">
    </div>
    <div flex layout="column" layout-align="center center" layout-padding>
        <md-button flex ui-sref="login" class="md-accent md-raised hpad-15" aria-label="Get Started">
            <h1>GET STARTED</h1>
        </md-button>
    </div>
</div>
