<!--
  Navigation Template

  Component: Navigation
 -->
<md-toolbar>
    <div layout-align="space-between center" layout-align-gt-lg="end center" class="md-toolbar-tools">
        <div layout="row">
            <h2 id="homeLink">
              <span ui-sref="{{ $ctrl.userIdentification.isLoggedIn(true) ? 'dashboard' : 'landing' }}">FRESH<br/>EARTH</span>
            </h2>
            <div id="workspaceButtons" layout="row" layout-align="start center">
                <div ng-if="$ctrl.userIdentification.isLoggedIn(true)">
                    <fe-nav-button ui-sref="products" selected="$ctrl.isCurrentState('products')">
                        <span class="hmar-5">PRODUCTS</span>
                    </fe-nav-button>
                    <fe-nav-button ui-sref="orders" selected="$ctrl.isCurrentState('orders')">
                        <span class="hmar-5">ORDERS</span>
                    </fe-nav-button>
                    <fe-nav-button ui-sref="broadcast" selected="$ctrl.isCurrentState('broadcast')">
                        <span class="hmar-5">BROADCAST</span>
                    </fe-nav-button>
                </div>
                <div ng-if="!$ctrl.userIdentification.isLoggedIn(true)">
                    <fe-nav-button ng-click="$ctrl.aboutPage()">
                        <span class="hmar-5">ABOUT US</span>
                    </fe-nav-button>
                </div>
            </div>
        </div>
        <div id="loginContainer" ng-if="!$ctrl.userIdentification.isLoggedIn(true)">
            <md-button ng-click="$ctrl.toggleLogin()" class="hpad-10">
                <md-icon md-svg-src="action:ic_face_24px" aria-label="Login"></md-icon>
                <span class="hmar-5">LOGIN</span>
            </md-button>
            <div ng-if="$ctrl.loginSelected" >
                <div id="loginFormTriangle"></div>
                <md-card id="loginForm">
                    <form novalidate name="$ctrl.loginForm">
                        <div layout="column">
                            <md-input-container>
                                <label>Email Address</label>
                                <input required email-validator login ng-model="$ctrl.loginCredentials.email" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" type="email" name="email" tabindex="1" aria-label="Email Address" />
                                <div ng-messages="$ctrl.loginForm.email.$error">
                                    <div ng-message="required">Email Address is required</div>
                                    <div ng-message="email">Email Address is not formatted correctly</div>
                                    <div ng-message="emailValid">Email Address is invalid!</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Password</label>
                                <input required password-validator login ng-model="$ctrl.loginCredentials.password" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" type="password" name="password" tabindex="2" aria-label="Password" />
                                <div ng-messages="$ctrl.loginForm.password.$error">
                                    <div ng-message="required">Password is required</div>
                                    <div ng-message="passwordValid">Password must have at least 8 characters and contain at least one letter, one number, one special character and no spaces!</div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-align="center">
                                <md-button flex ng-click="$ctrl.loginSelected = false" class="md-flat md-warn md-hue-2" tabindex="4">Cancel</md-button>
                                <md-button flex type="submit" class="md-raised md-primary md-hue-2" ng-click="$ctrl.submit()" ng-disabled="$ctrl.loginForm.$invalid || $ctrl.loginForm.$pending" tabindex="3">Submit</md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </md-card>
        </div>
        <md-button ng-click="$ctrl.logout()" ng-if="$ctrl.userIdentification.isLoggedIn(true)" class="hpad-10">
            <md-icon md-svg-src="image:ic_nature_people_24px" aria-label="Login"></md-icon>
            <span class="hmar-5">LOGOUT</span>
        </md-button>
    </div>
</md-toolbar>
