<!--
  Type.Signup Template

  Parent Component: Signup
  Component: Type.Signup

  Tabindex: 6-9
 -->
<div novalidate layout-padding>
    <div layout="row" layout-align="space-between center">
        <span flex-gt-md="10"></span>
        <md-button flex="40" ng-click="$ctrl.producerType()" ng-class="$ctrl.signupCredentials.businessType == 'producer' ? 'md-accent md-hue-1' : 'md-primary md-hue-2'" class="md-raised" style="min-height: 200px;" tabindex="6" aria-label="Producer Business">
            <h2 ng-if="!$ctrl.signupCredentials.businessType || $ctrl.signupCredentials.businessType == 'consumer'">{{ $ctrl.producer.title }}</h2>
            <div ng-if="$ctrl.signupCredentials.businessType == 'producer'">{{ $ctrl.producer.detail }}</div>
        </md-button>
        <md-button flex="40" ng-click="$ctrl.consumerType()" ng-class="$ctrl.signupCredentials.businessType == 'consumer' ? 'md-accent md-hue-1' : 'md-primary md-hue-2'" class="md-raised" style="min-height: 200px;" tabindex="7" aria-label="Consumer Business">
            <h2 ng-if="!$ctrl.signupCredentials.businessType || $ctrl.signupCredentials.businessType == 'producer'">{{ $ctrl.consumer.title }}</h2>
            <div ng-if="$ctrl.signupCredentials.businessType == 'consumer'">{{ $ctrl.consumer.detail }}</div>
        </md-button>
        <span flex-gt-md="10"></span>
    </div>
</div>
<div layout="row" layout-align="center space-between" layout-margin>
    <md-button flex="20" class="md-flat md-accent md-hue-1" ng-click="$ctrl.signupBackward()">
        <md-icon md-svg-src="hardware:ic_keyboard_arrow_left_24px" class="md-icon-s48" tabindex="9" aria-label="Back Page"></md-icon>
    </md-button>
    <span flex></span>
    <md-button flex="20" class="md-raised md-accent md-hue-1" ng-click="$ctrl.signupForward()" tabindex="8" ng-disabled="!$ctrl.signupCredentials.businessType">
        <md-icon md-svg-src="hardware:ic_keyboard_arrow_right_24px" class="md-icon-s48" aria-label="Next Page"></md-icon>
    </md-button>
</div>
