.contactGroupInput {
    margin-bottom: 0px;
    height: 34px;
}

#contactList {
    min-height: 60px;
    max-height: 300px;
    overflow: auto;
}

#contactListItemDefault {
    color: grey;
}