.contactGroupInput {
    margin-bottom: 0px;
    height: 34px;
}

.contactInput {
    margin-bottom: 6px;
    height:40px;
}

.contactGroupDivider {
    padding: 0px;
}

#contactGroupAddContactSelector {
    margin: 6px 0px 0px 0px;
}

#contactList {
    height: 168px;
    overflow: auto;
}

#contactList md-list-item {
    padding: 0px 8px;
    min-height: 56px;
    height: 56px;
}

#contactList md-list-item md-icon {
    margin-right: 12px;
}

#contactList .md-avatar-icon {
    margin-top: 8px;
}

#contactListItemDefault {
    color: grey;
}

#contactFormButtonDiv {
    margin-top: 18px;
}

#contactFormButtonDiv > md-button {
    width: 50%;
}

#contactFormButtonDiv button {
    margin: 0px;
}

#contactGroupAddContactButton {
    margin: 0px;
}