base {
    background-color: #e9e9e9;
    overflow: scroll;
}

#baseContent, .md-toolbar-tools {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}

#homeLink {
    font-weight: 700;
    cursor: pointer;
    margin: 0px 20px 0px 0px;
}

#divLanding {
    position: relative;
}

#landingImage {
    width: auto;
    height: auto;
    min-width: 400px;
    min-height: 400px;
}

#btnGetStarted {
    position: absolute;
    margin: 0 auto;
}

#loginContainer {
    position: relative;
    font-size: 14px;
}

#loginContainer md-input-container {
    margin-bottom: 0px;
}

#loginForm {
    position: absolute;
    width: 300px;
    right: 0px;
    padding:24px;
    z-index: 3;
}

#loginFormTriangle {
    position:absolute;
    width: 0px;
    height: 0px;
    right: 16px;
    top: 18px;
    border: solid 16px;
    border-color: transparent;
    border-bottom-color: white;
}

fe-nav-button, fe-nav-button > .fe-nav-button, fe-nav-button > .fe-nav-button * {
    color: white;
    border-radius: 1000px !important;
}


fe-card-header div {
    height: 40px;
    padding: 12px;
    background-color: orange;
}

fe-card-header h3 {
    color: white;
}